body {
  font-family: 'Karla', sans-serif;
  color: #f0f0f0;
  background-color: #252839;
}

h1 {
  font-weight: 700;
}

.headline {
  margin-bottom: 0.1rem;
}

.subheading {
  margin-top: 0.1rem;
}

p, a {
  font-weight: 400;
  font-size: 1rem;
  max-width: 530px;
}

.content {
  padding-top: 15%;
  padding-left: 5%;
  padding-right: 5%;
  
}

.copy {
  padding-bottom: 1.2rem;
}

.contact {
  margin-top: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  color: #f0f0f0;
  border: 2px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  font-weight: 700;
  transition: background-color: 0.2s ease-out,
              color: 0.2s ease-out;
}

.contact:hover,
.contact:active {
  background-color: #f0f0f0;
  color: #252839;
  transition : background-color: 0.3s ease-in,
              color: 0.3s ease-in;
}

@media (min-width: 550px) {
  h1 {
    font-size: 2.4rem;
  }
  
  h2 {
    font-size: 1.8rem;
  }
  
  p, a {
    font-size: 1.2rem;
  }
  
  .content {
    padding-top: 10%;
    padding-left: 15%;
  }
}

